{% extends "base.html" %}

{% block title %}Lista de Pastas/Emails{%endblock%}

{% block content %}
<div>
    <h1>Downloads</h1>
    <table>
        <thead>
        <tr>
            <th>Data</th>
            <th>Emails Carregados</th>
            <th>Status</th>
            <th style="width: 10%;">Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for download in downloads %}
        <tr>
            <td>{{ download.data }}</td>
            {% if download.status == 'Success' or download.status == 'Pending' %}
            <td>{{ download.qtd_emails }}</td>
            {% else %}
            <td>-1</td>
            {% endif %}

            <td>{{ download.status }}</td>
            <td>
                {% if download.status == 'Success' %}
                <a href="/download_emails/{{ download.uuid }}"><button class="download-btn" title="Download de todos os emails carregados"><i class="fa fa-download"></i></button></a>
                <button class="delete-btn" title="Excluir todos os emails carregados"><i class="fa fa-trash"></i></button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}