{% extends "base.html" %}

{% block title %}Lista de Pastas/Emails{%endblock%}

{% block content %}
<div>
    <h2>Pastas dos E-mails</h2>
    <a href="javascript:window.history.go(-1)">Back</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Quantidade E-mails</th>
            <th>Quantidade Sub-Pastas</th>
            <th>Enter subfolder</th>
            <th>Download emails</th>
        </tr>
        {% for folder in listFolders %}
        <tr>
            <td>{{ folder.displayName }}</td>
            <td>{{ folder.totalItemCount }}</td>
            <td>{{ folder.childFolderCount }}</td>
            {%if folder.childFolderCount > 0%}
            <td><a href="/folders/{{ folder.id }}">Entrar</a></td>
            {% else %}
            <td></td>
            {% endif %}
            {%if folder.totalItemCount > 0%}
            <td><a href="/extract_emails/{{ folder.id }}">Download</a></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
<hr>
{% endblock %}

